STRING BASED ASSIGNMENT PROBLEM

In [ ]:
1.write a program to reverse a string

In [1]:
str = "vamshi"
str[::-1]

'ihsmav'

In [ ]:
2.check if a string is a palindrome

In [5]:
str = input("enter a string")
palindrome = str[::-1]
if str == palindrome:
    print ("str is palindrome")
else:
           print("str is not palindroem")

enter a string sms

str is palindrome

In [ ]:
3.convert a string to uppercase

In [6]:
str = input("enter a string")
str.upper()

enter a string vamshi

'VAMSHI'

In [ ]:
4.convert a string to lowercase

In [8]:
str = input("enter a string")
str.lower()

enter a string VAMSHI

'vamshi'

In [ ]:
5.count the number of vowels in a string

In [30]:
str = "vamshi"
vowels = ["a","e","i","o","u","A","E","I","O","U"]
count=0
for i in str:
    if i in vowels:
        count=count+1
print(count)

2

In [ ]:
6.count no of consonants in a string

In [31]:
str = "vamshi"
vowels = ["a","e","i","o","u","A","E","I","O","U"]
count=0
for i in str:
    if i not in vowels:
        count=count+1
print(count)

4

In [ ]:
7.remove all whitespaces from astring

In [37]:
str = "vam  shi"
str.replace(" ","")

'vamshi'

In [ ]:
8.find the length of a string without using the len() function

In [39]:
str = "vamshi"
count=0
for i in str:
    count=count+1
    
print(count)

6

In [40]:
# with using len() ------len("vamshi")

6

In [ ]:
9.check if a string contains a specific word

In [68]:
str = "vamshikrishna"
if "vamshi" in str:
    print("yes str contain vamshi")

yes str contain vamshi

In [ ]:
10.replace a word in a string with anothr word

In [69]:
str = "krishna vamshi"
str.replace("krishna","vamshi")

'vamshi vamshi'

In [ ]:
11.count the occurrences of aword in a string

In [72]:
str="vamshi vamshi krishna"
str.count("vamshi")

2

In [ ]:
12.find the first occurences of a word in a string

In [38]:
str = "vamshi krishna"
str.find("a")

1

In [ ]:
13.find the last occurences of a word in a string

In [75]:
str = "vamshi krishna"
str.rfind("a")

13

In [ ]:
14.split a string into a list of words

In [77]:
str = "vamshi krishna"
str.split()  #where ever space it take as single list element

['vamshi', 'krishna']

In [ ]:
15.join a list of words into a string

In [4]:
a = ['vamshi', 'krishna']

b=' '.join(a)
print(b)

vamshi krishna

In [ ]:
16.convert a string where words are seperated by spaces to one whwere words are seperated by underscores

In [8]:
str = "vamshi krishna"
str.replace(' ',"_")

'vamshi_krishna'

In [ ]:
17.check if astring starts with a specific word or phrase

In [11]:
str = "a dog"

if str[0]=="a":
    print("true")

true

In [ ]:
18.check if a string ends with a specific word or phrase

In [12]:
str = "a dog"

if str[-1]=="a":
    print("true")
else:
    print("false")

false

In [ ]:
19.convert a string to title case

In [14]:
str = "hello world"
str.title()

'Hello World'

In [ ]:
20.find the longest word in a string

In [69]:
a = "vamshi is the good boy"
b = a.split()
longest_word = ""

for word in b:
    if len(word) > len(longest_word):
        longest_word = word  #longest_word always updates when if condition is true

print("The longest word is:", longest_word)

The longest word is: vamshi

In [ ]:
21.find the shortest word in a string

In [92]:
a = "vamshi is the good boy"
b = a.split()
shortest_word = None  # Initialize as None

for word in b:
    if shortest_word is None or len(word) < len(shortest_word):
        shortest_word = word

print("The shortest word is:", shortest_word)

The shortest word is: is

In [ ]:
22.reverse the order of words in a string

In [18]:
your_string = "vamshi krishna"
word_list = your_string.split()  
reversed_string = ' '.join(word_list[::-1])  

print(reversed_string)

krishna vamshi

In [ ]:
23.Check if a string is alphanumeric

In [4]:
s = "vamshi123"
s.isalnum()

True

In [ ]:
24.extract all digits from a string

In [67]:
def digits_string(z):
    b = []
    for i in z:
        if i.isnumeric()==True:
            b.append(i)
    return ''.join(b)

In [68]:
l="vamshi123"

In [69]:
digits_string(l)

'123'

In [ ]:
25.extract all alphabets from astring

In [74]:
def alpha_string(z):
    b = []
    for i in z:
        if i.isalpha()==True:
            b.append(i)
    return ''.join(b)

In [75]:
alpha_string(l)

'vamshi'

In [ ]:
26.count the number of uppercase letters in a string

In [77]:
def upper_str(s):
    u=[]
    for i in s:
        if i.isupper()==True:
            u.append(i)
    return ''.join(u)

In [78]:
s="VAMSHIkrishna"

In [79]:
upper_str(s)

'VAMSHI'

In [ ]:
27.extract no of lower case letters in a string

In [80]:
def lower_str(s):
    u=[]
    for i in s:
        if i.islower()==True:
            u.append(i)
    return ''.join(u)

In [81]:
lower_str(s)

'krishna'

In [ ]:
28.swap the case of each character in a string

In [86]:
def swap_char(s):
    u=[]
    for i in s:
        if i.islower()==True:
            i=i.upper()
        else:
            i=i.lower()
        u.append(i)
    return ''.join(u)

In [87]:
swap_char(s)

'vamshiKRISHNA'

In [91]:
#or       
s.swapcase()

'vamshiKRISHNA'

In [ ]:
29.remove a specific word from a string

In [5]:
s="Vamshi krishna is good boy"

In [29]:
def word(a):
    b=a.split()
    if "krishna" in b:
        b.remove("krishna")
    return ' '.join(b)

In [30]:
s="Vamshi krishna is good boy"

In [31]:
word(s)

'Vamshi is good boy'

In [35]:
#or
s.replace(" krishna",'')

'Vamshi is good boy'

In [ ]:
30.check if a string is a valid email address

In [41]:
email_list=["vamshi@gmail.com","krishna@email.com","abc.example.com"]

def email():
    a=input("enter  email")
    if a in email_list:
        return "valid"
    else:
        return "invalid"

In [42]:
email()

enter  email abc@example.com

'invalid'

In [66]:
#or check pattern of email
def valid_email(email:str):
    if email[0].isalpha() and all(char in email for char in['','@',".com","gmail"]) and all(char not in email for char in[" ","'","/","=",'"',"\\"])  :
        return "valid"
    else:
        return "invalid"

In [71]:
valid_email("vamshi@gmail.com")

'valid'

In [69]:
valid_email("vamshi@gmailcom")

'invalid'

In [72]:
valid_email("vamshi @gmail.com")

'invalid'

In [ ]:
31.extract the username from an email address string

In [55]:

def extract_username(email:str):
    if "@" in email and email.endswith(".com") :
        username=""
        for char in email:
            if char=="@":
                break
            username=username+char
        return username
    else:
        return "invalid"

In [56]:
extract_username("vamshi@gmail.com")

'vamshi'

In [ ]:
32..extract the domain name from a email address string

In [91]:

def extract_username(email:str):
    if "@" in email and email.endswith(".com") :
        a=email.split("@")
        return a[1]
    else:
        return "invalid"

In [92]:
extract_username("vamshi@gmail.com")

'gmail.com'

In [ ]:
33.Replace multiple spaces in a string with asingle space

In [2]:
a="vam  shi"
a.replace("  "," ")

'vam shi'

In [ ]:
34.check if a string is avalid url

In [12]:
def check_URL(s:str):
    if s[0].isalpha() and all(char in s for char in['http://']):
        return "valid"
    else:
        return "invalid"

In [13]:
check_URL("https://yellow-optician-bjjqm.pwskills.app/lab/tree/work/Assignment%202.ipynb")

'invalid'

35.extract protocol (http or https) from a URL string

In [80]:
from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    return parsed_url.scheme


url = "https://yellow-optician-bjjqm.pwskills.app/lab/tree/work/data%20types%20assignment.ipynb"
protocol = extract_protocol(url)
print("Protocol:", protocol)

Protocol: https

In [ ]:
36.Find the frequency of each character in a string

In [3]:

def frequency(s,v):
    count =0
    for i in a:
        if i==v:
            count=count+1
    return count

In [4]:
s="aaabbb"

In [6]:
frequency(s,"a")

3

In [ ]:
37.remove all punctuation from a string.

In [57]:
a="vamshi--//krishna"

In [58]:
def remove_punctuations(s):
    
    punctuation_chars = ">,.!:;()-.../&@"
    result = ""
    for char in s:
        if char not in punctuation_chars:
            
            result = result+char

    return result

In [59]:
remove_punctuations(a)

'vamshikrishna'

38.check if a string contains only digits.

In [102]:
def abc(a):
    if a=="":
        return "yes"
    elif a[0].isnumeric():
        return abc(a[1:])
    else:
        return "no"

In [103]:
s="abc123"

In [104]:
abc(s)

'no'

In [105]:
s="123"

In [106]:
abc(s)

'yes'

In [ ]:
39.check if a string contains only alphabets

In [107]:
def abc(a):
    if a=="":
        return "yes"
    elif a[0].isalpha():
        return abc(a[1:])
    else:
        return "no"

In [108]:
abc(s)

'no'

In [109]:
s="vamshi"

In [111]:
abc(s)

'yes'

40.convert a string into a list of characters

In [9]:
def string_to_list(a):
    l=[]
    for i in a:
        l.append(i)
    return l

In [10]:
s="vamshi"

In [11]:
string_to_list(s)

['v', 'a', 'm', 's', 'h', 'i']

In [5]:
list(s)

['v', 'a', 'm', 's', 'h', 'i']

In [ ]:
41.check if two strings are anagrams

In [18]:
def anagrams(s1,s2):
    return sorted(s1)==sorted(s2)

In [19]:
s1="vamshi"

In [20]:
s2="ishmav"

In [21]:
anagrams(s1,s2)

True

42.encode a string using a caesar cipher

In [21]:
def caesar_cipher_encode(text, shift):
    result = ""
    
    for char in text:
        if char.isalpha():
            is_upper = char.isupper()
            
            shifted_char = chr((ord(char) - ord('A' if is_upper else 'a') + shift) % 26 + ord('A' if is_upper else 'a'))
            
            result += shifted_char
        else:
            result += char

    return result

encoded_text = caesar_cipher_encode("vamshi", 3)
print("Encoded text:", encoded_text)

Encoded text: ydpvkl

In [ ]:
43.decod e acaesar cipher encoded a strong

In [91]:
def caesar_cipher(text, shift):
    result = ""
    for char in text:
        if char.isalpha():  
            shifted_char = chr((ord(char) - shift - ord('A' if char.isupper() else 'a')) % 26 + ord('A' if char.isupper() else 'a'))
            result += shifted_char
        else:
            result += char
    return result

original_text = "vamshi"
shift_amount = 3


encoded_text = caesar_cipher(original_text, shift_amount)
print("Encoded:", encoded_text)

decoded_text = caesar_cipher(encoded_text, -shift_amount)
print("Decoded:", decoded_text)

Encoded: sxjpef
Decoded: vamshi

In [ ]:
44.find the most frequent word in a string

In [97]:
def most_frequent_word(sentence):
    words = sentence.lower().split()
    most_common_word = max(set(words), key=words.count)
    count = words.count(most_common_word)
    return most_common_word, count


text = "This is a sample sentence. Another sentence is here. This sentence is a sample."
result = most_frequent_word(text)

print("Most frequent word:", result[0])
print("Count:", result[1])

Most frequent word: is
Count: 3

In [ ]:
44.find unique words in a string

In [98]:
def unique_words(sentence):
    words = sentence.lower().split()
    unique_word_set = set(words)
    return unique_word_set

text = "This is a sample sentence. Another sentence is here. This sentence is a sample."
result = unique_words(text)

print("Unique words:", result)

Unique words: {'here.', 'this', 'another', 'sample', 'sample.', 'sentence.', 'sentence', 'is', 'a'}

In [ ]:
45.find all unique words in a string

In [101]:
def all_unique_words(sentence):
    words = sentence.lower().split()
    unique_words = set(words)
    return unique_words


text = "This is a sample sentence. Another sentence is here. This sentence is a sample."
result = all_unique_words(text)

print("All unique words:", result)

All unique words: {'here.', 'this', 'another', 'sample', 'sample.', 'sentence.', 'sentence', 'is', 'a'}

In [ ]:
46.count the number of syllables in a string

In [105]:
!pip install syllables  

import syllables

def count_syllables_in_sentence(sentence):
    words = sentence.split()
    total_syllables = sum(syllables.estimate(word) for word in words)
    return total_syllables

text = "This is a sample sentence. Another sentence is here. This sentence is a sample."
result = count_syllables_in_sentence(text)

print("Total syllables in the sentence:", result)

Requirement already satisfied: syllables in /opt/conda/lib/python3.10/site-packages (1.0.9)
Requirement already satisfied: importlib-metadata<7.0,>=5.1 in /opt/conda/lib/python3.10/site-packages (from syllables) (5.1.0)
Requirement already satisfied: cmudict<2.0.0,>=1.0.11 in /opt/conda/lib/python3.10/site-packages (from syllables) (1.0.15)
Requirement already satisfied: importlib-resources<6.0.0,>=5.10.1 in /opt/conda/lib/python3.10/site-packages (from cmudict<2.0.0,>=1.0.11->syllables) (5.10.1)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.10/site-packages (from importlib-metadata<7.0,>=5.1->syllables) (3.11.0)
Total syllables in the sentence: 25

In [ ]:
47.CHECK IF A STRING CONTAINS ANY SPECIAL CHARACTERS

In [106]:
def contains_special_characters(s):

    special_characters = set("!@#$%^&*()-_+=<>?,./;'\":|{}[]\\`~")
    for char in s:
        if char in special_characters:
            return True
    return False

text = "This is a sample string with no special characters."
result = contains_special_characters(text)

if result:
    print("The string contains special characters.")
else:
    print("The string does not contain any special characters.")

The string contains special characters.

In [ ]:
48. REMOVE THE NTH WORD FROM A STRING

In [107]:
def remove_nth_word(sentence, n):
    words = sentence.split()
    if 1 <= n <= len(words):
        del words[n - 1]
    return ' '.join(words)

text = "This is a sample sentence. Another sentence is here. This sentence is a sample."
n = 3
result = remove_nth_word(text, n)

print("Original sentence:", text)
print(f"Sentence after removing the {n}th word:", result)

Original sentence: This is a sample sentence. Another sentence is here. This sentence is a sample.
Sentence after removing the 3th word: This is sample sentence. Another sentence is here. This sentence is a sample.

In [ ]:
49.INSERT A WORD AT THE NTH POSITION IN A STRING

In [108]:
def insert_word_at_position(sentence, n, new_word):
    words = sentence.split()

    if 0 <= n <= len(words):
        words.insert(n, new_word)

    result = ' '.join(words)
    return result

text = "This is a sample sentence. Another sentence is here. This sentence is a sample."
n = 3
new_word = "new"
result = insert_word_at_position(text, n, new_word)

print("Original sentence:", text)
print(f"Sentence after inserting '{new_word}' at position {n}:", result)

Original sentence: This is a sample sentence. Another sentence is here. This sentence is a sample.
Sentence after inserting 'new' at position 3: This is a new sample sentence. Another sentence is here. This sentence is a sample.

In [ ]:
50.CONVERT A CSV STRING TO A LIST OF LISTS

In [109]:
def csv_string_to_list_simple(csv_string):
    csv_list = [row.split(',') for row in csv_string.split('\n') if row]
    return csv_list

csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"
result_simple = csv_string_to_list_simple(csv_string)

print("Simple CSV List:")
for row in result_simple:
    print(row)

Simple CSV List:
['1', 'John', 'Doe']
['2', 'Jane', 'Smith']
['3', 'Bob', 'Johnson']

In [ ]:
************************LIST***********************************

In [ ]:
1.CREATE A LIST WITH INTEGERS FROM 1 TO 10

In [86]:
list = [1,2,3,4,5,6,7,8,9,10]

In [211]:
a=[]
for i in range(1,11):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2.FIND THE LENGTH OF LIST WITHOUT USING THE LEN() function

In [96]:
def len_list(a):
    count=0
    for i in a:
        count=count+1
    return count

In [97]:
len_list(list)

10

In [ ]:
3.APPEND AN ELEMENT TO THE END OF LIST

In [98]:
list.append(11)

In [100]:
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
4.INSERT AN ELEMENT AT A SPECIFIC INDEX IN A LIST

In [102]:
list.insert(5,"vamshi")

In [103]:
list

[1, 2, 3, 4, 5, 'vamshi', 6, 7, 8, 9, 10, 11]

In [ ]:
5.remove an element from a list by its value

In [106]:
list.remove("vamshi")

In [107]:
list

[1, 2, 3, 4, 6, 7, 8, 9, 10, 11]

In [ ]:
6.remove an element from a list by its index

In [114]:
list.remove(list[2])

In [115]:
list

[2, 4, 8, 9, 10, 11]

In [ ]:
7.CHECK IF AN ELEMENT EXISTS IN A LIST

In [134]:
def check_num_exist(a):
    for i in list:
        if i==5:
            return "exists"
        else:
            return "not exist"

In [135]:
check_num_exist(list)

'not exist'

In [ ]:
8.find the index of first occurence of an element in a list

In [136]:
list[0]

2

In [ ]:
9.count the occurences of an elemnt in a list

In [137]:
list=[1,1,2,3,4,5]

In [141]:
list.count(1)

2

In [ ]:
10.reverse the order of elements in a lsit

In [142]:
list[::-1]

[5, 4, 3, 2, 1, 1]

In [ ]:
11.sort a list in asacending order

In [145]:
list2=[1,4,5,32,77,5]

In [146]:
list2.sort()

In [147]:
list2

[1, 4, 5, 5, 32, 77]

In [ ]:
12.sort a list in descending order

In [151]:
list2.sort(reverse=True)

In [152]:
list2

[77, 32, 5, 5, 4, 1]

In [ ]:
13.create a list of even number from 1 to 20

In [181]:

b=[]
for i in range(1,21):
    if i%2==0:
        b.append(i)
print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
14.cretae a list of odd numbers from 1 to 20

In [187]:
odd_numbers_list=[x for x in range(1,21) if x%2!=0]
print(odd_numbers_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15.find the sum of all elemnts in a lsit

In [188]:
list3=[1,2,3,4,5]

In [194]:
def sum_(a):
    if a==[]:
        return 0
    else:
        return a[0]+ sum_(a[1:])

In [196]:
sum(list3)

15

In [ ]:
16,find the maximum value in  a list

In [208]:
max(list3)

5

In [ ]:
17.find the minimum value in a list

In [209]:
min(list3)

1

In [ ]:
18.create a list of squares of numbers from 1 to 10

In [210]:
a=[]
for i in range(1,11):
    i=i*i
    a.append(i)
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
19.create a list of random numbers

In [216]:
import random
random_numbers = [random.randint(1, 100) for _ in range(10)]
print(random_numbers)

[36, 17, 31, 86, 76, 37, 35, 38, 21, 52]

In [ ]:
20.remove duplicates from a list

In [240]:
list4=[1,1,2,3,3,4,5,6,6,6]
unique_list=[]
for i in list4:
    if i not in unique_list:
        unique_list.append(i)
print(unique_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
21.find the common elemnts in two list

In [242]:
l1=[1,2,3,4,5,6]
l2=[3,4,8,9,10]
l3=[]
for i in l1:
    if i in l2:
        l3.append(i)
print(l3)

[3, 4]

In [ ]:
22.find the difference between two lists

In [243]:
l1=[1,2,3,4,5,6]
l2=[3,4,8,9,10]
l3=[]
for i in l1:
    if i not in l2:
        l3.append(i)
print(l3)

[1, 2, 5, 6]

In [ ]:
23.merge two lists

In [252]:
l1=[1,2,3,4,5,6]
l2=[3,4,8,9,10]
l3=l1+l2
l3

[1, 2, 3, 4, 5, 6, 3, 4, 8, 9, 10]

In [249]:
24.multiply all elemnts in a lsit by 2

In [258]:
l5=[]
for i in l1:
    i=i*2
    l5.append(i)
print(l5)

[2, 4, 6, 8, 10, 12]

In [ ]:
25.filter out all evn numbers form a list

In [262]:
for i in l1:
    if i%2==0:
        print(i)

2
4
6

In [ ]:
26.convert list ofn strings to a list of integers

In [272]:
l1=["123","234","100"]
l2=[]
for i in l1:
    l2.append(int(i))
print(l2)

[123, 234, 100]

In [ ]:
27.convert a list of integers to a list of strings

In [285]:
l1 = [123, 234, 100]
l2 = []

for i in l1:
    l2.append(f"{i}")

print(l2)

['123', '234', '100']

In [ ]:
28.flatten a nested  list

In [45]:
import numpy as np

nested_list = [1, [2, 3], [4, [5, 6]]]
flat_array = np.array(nested_list).flatten()
flat_list = flat_array.tolist()
print(flat_list)

[1, [2, 3], [4, [5, 6]]]

/tmp/ipykernel_3865/283095821.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  flat_array = np.array(nested_list).flatten()

In [ ]:
29.create a list of the first 10 fibonacci numbers

In [304]:
def fib(n):
    a,b=0,1
    for i in range(n):  
        yield a
        a,b=b,a+b

In [307]:
l=[]
for i in fib(10):
    l.append(i)
print(l)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
30.check if a list is sorted

In [309]:
l=[1,2,34,4,4]
if l.sort()==True:
    print("yes")
else:
    print("no")

no

In [ ]:
31.Rotate a list to the left by n positions

In [316]:
def rotate_list(a,n):
    rotated_list=a[n:]+a[:n]
    print(rotated_list)

In [317]:
list1=[1,2,3,4,5]

In [318]:
rotate_list(list1,2)

[3, 4, 5, 1, 2]

In [ ]:
32.rotate a list to the right by nth position

In [329]:
def rotate_list(a,n):
    rotated_list=a[-n:]+a[:-n]
    print(rotated_list)

In [330]:
rotate_list(list1,2)

[4, 5, 1, 2, 3]

In [ ]:
33.create a list of prime numbers upto 50.

In [42]:
def prime(n):
    l = []
    for i in range(2, n + 1):
        is_prime = True
        for j in l:
            if j * j > i:
                break
            if i % j == 0:
                is_prime = False
                break
        if is_prime:
            l.append(i)
    print(l)

In [43]:
prime(50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
34.split a list into chunks of size "n"

In [81]:
def split_into_chunks(lst, n):
    return (lst[i:i + n] for i in range(0, len(lst), n))


my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3
result = list(split_into_chunks(my_list, chunk_size))

print(result)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [ ]:
35.find the second largest number in  a list.

In [86]:
l = [1,2,3,6,7]
l.remove(max(l))
max(l)

6

In [ ]:
36.replace every element in a list with its square

In [69]:
l = [1,2,3,4]
l1 = []
for i in l:
    i = i*i
    l1.append(i)
l1

[1, 4, 9, 16]

In [ ]:
37.convertr a dictionary where list elemnts become keys and their indices becomes values

In [87]:
def list_to_dict_with_indices(my_list):
    my_dict = {}
    for index, value in enumerate(my_list):
        my_dict[value] = index
    return my_dict

my_list = ['apple', 'banana', 'orange']
result_dict = list_to_dict_with_indices(my_list)

print(result_dict)

{'apple': 0, 'banana': 1, 'orange': 2}

In [ ]:
38.shuffle the elemnts of list randomly

In [88]:
import random

def shuffle_list(my_list):
    shuffled_list = my_list[:] 
    random.shuffle(shuffled_list)
    return shuffled_list


original_list = [1, 2, 3, 4, 5]
shuffled_result = shuffle_list(original_list)

print("Original List:", original_list)
print("Shuffled List:", shuffled_result)

Original List: [1, 2, 3, 4, 5]
Shuffled List: [4, 3, 1, 2, 5]

In [ ]:
39.create a list of the first 10 factorial numbers

In [89]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

factorial_numbers = [factorial(i) for i in range(10)]

print(factorial_numbers)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [ ]:
40.check if two lists have at least one elemnt common

In [77]:
def f(x,y):
    for i in x:
        if i in y:
            print("yes")
            break
    else:
        print('no')
        
l1 = [1,2,3,5,6]
l2 = [3,4,5,6]
f(l1,l2)

yes

In [ ]:
41.remove all elemnts from a list

In [358]:
l=[1,2,3,4,5]
while l:
    l.pop()
print(l)

[]

In [367]:
l.clear()
l

[]

42.replace negative numbers in a list with 0.

In [77]:
def list_a(a):
    for i in range(len(a)):
        if a[i]<0:
            a[i]=0
    return a

In [78]:
l=[1,2,3,4,-5,-6]

In [79]:
list_a(l)

[1, 2, 3, 4, 0, 0]

In [80]:
range(len(l))

range(0, 6)

43.convert a string into list of words

In [362]:
str1="vamshi is good boy"

In [363]:
str1.split()

['vamshi', 'is', 'good', 'boy']

In [ ]:
44.convert a list of words into a string

In [365]:
str1=["vamshi","krishna"]

In [370]:
c=str1[0]+str1[1]
c

'vamshikrishna'

In [ ]:
45.create a list of first 'n' power of 2

In [49]:
l = []
for i in range(1,10):
    i = 2**i
    l.append(i)
l

[2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
46.find the longest string in a lsit of string

In [55]:
l = ["vamshi","krishna","pwskills"]
longest = ''
for i in l:
    if len(i)>len(longest):
        longest = i
longest

'pwskills'

In [ ]:
47.find the shortest string in a lsit of string

In [60]:
l = ["vamshi","krishna","pwskills","a"]
shortest = l[0]
for i in l:
    if len(i)<len(shortest):
        shortest = i
shortest

'a'

In [ ]:
48.create a list of the n triangular numbers

In [47]:
def generate_triangle_numbers(n):
    triangle_numbers = ()
    for i in range(1, n + 1):
        triangle_number = (i * (i + 1)) // 2
        triangle_numbers += (triangle_number,)
    return triangle_numbers

first_5_triangle_numbers = generate_triangle_numbers(5)
print(list(first_5_triangle_numbers))

[1, 3, 6, 10, 15]

In [ ]:
49.check if a list contains another list a ssubsequence

In [46]:
l = [1,2,3,4,5]
l1 = [1,2,3]
l2 = []

for i in l:
    if i in l1:
        l2.append(i)
if l1 ==l2:
    print("yes")
else:
    print("no")

yes

In [ ]:
50.swap two elemnts in a list by their indices

In [66]:
my_list = [10, 20, 30, 40, 50]
my_list[0] ,my_list[1] = my_list[1],my_list[0]

my_list

[20, 10, 30, 40, 50]

In [ ]:
******************************TUPLE****************************

In [ ]:
1.CREATE A TUPLE WITH INTEGERS FROM 1 TO 5

In [10]:
a = []
for i in range(1,5):
    
    a.append(i)
print(tuple(a))

(1, 2, 3, 4)

In [ ]:
2. Access the third element of a tuple.

In [14]:
t = (1,2,3,4)
for i in t:
    if i == 3:
        print(i)

3

In [16]:
t = (1,2,3,4)
t2 = t[2]
print(t2)

3

In [ ]:
3.Find length of a tuple without using len() function

In [18]:
count = 0
t = (1,2,3)
for i in t:
    count = count +1
print(count)

3

In [ ]:
4.find occurences of  an element in a tuple

In [25]:
t = (1,1,2,3)
t.count(1)

2

In [30]:
#using for loop
t = (1,1,2,3)
element = 1
no_occurences = 0
for i in t:
    if i == element:
        no_occurences = no_occurences + 1
print(no_occurences)

2

In [ ]:
5. find the index of first occurence of an element

In [35]:
t = (1, 2, 3, 2)
element_to_find = 2
index = 0

for i in t:
    if i == element_to_find:
        print("Element", element_to_find, "found at index", index)
    index += 1

Element 2 found at index 1
Element 2 found at index 3

In [60]:
t = (1,2,3,2)
element = 2
index = 0
for i in t:
    if i != element:
        index = index + 1
        continue
  
    else:
        break
print(index)

1

In [43]:
t.index(2)

1

In [ ]:
6.CHECK IF AN ELEMENT EXIST IN A TUPLE

In [49]:
t = (1,2,3,4,2)
element = 2
for i in t:
    if i == element:
        print("exist")
        break

exist

In [ ]:
7.convert tuple into a list

In [61]:
t = (1,2,3,3)
l = list(t)
l

[1, 2, 3, 3]

In [ ]:
8.convert list into tuple

In [62]:
t = tuple(l)
t

(1, 2, 3, 3)

In [ ]:
9.unpack the elemnts of a tuple into variables

In [83]:
t = (1,2,3)
a,b,c = t
print(a,b,c)

1 2 3

In [ ]:
10. create a tuple of even numbers form 1 to 10

In [87]:
l = []
for i in range (1,11):
    if i%2 == 0:
        l.append(i)
print(tuple(l))

(2, 4, 6, 8, 10)

In [89]:
tuple(x for x in range(2,11,2))

(2, 4, 6, 8, 10)

In [ ]:
11. create a tuple of ODD numbers form 1 to 10

In [90]:
tuple(x for x in range(1,11,2))

(1, 3, 5, 7, 9)

In [ ]:
12. CONCATENATE TWO TUPLES

In [93]:
t1 = (1,2,3)
t2 = (2,3,4)

t3 = t1 + t2
        
t3

(1, 2, 3, 2, 3, 4)

In [ ]:
13. repeat a tuple 3 times

In [94]:
t = (1,2,3)
t *3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
14. check if a tuple is empty

In [108]:
t = ()

count = 0
for i in t:
    count = count +1 

if count == 0:
        print("empty")

empty

In [111]:
t = ()
if len(t) == 0:
    print("empty")

empty

In [ ]:
15.create a nested tuple

In [113]:
t = ((1,2,3),("v","amshi"),("hello"))
t

((1, 2, 3), ('v', 'amshi'), 'hello')

In [ ]:
16. access the first elemnt of a nested tuple

In [120]:
t = ((1,2,3),("v","amshi"),("hello"))
print(t[0])
print(t[0][0])

(1, 2, 3)
1

In [ ]:
17.create a tuple withy single element

In [121]:
t = (2)
t

2

In [ ]:
18. compare two tuples

In [122]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (1, 2, 3, 4, 5)

if tuple1 == tuple2:
    print("The tuples are equal.")
else:
    print("The tuples are not equal.")

The tuples are equal.

In [ ]:
19.delete a tuple

In [130]:
t = (1,2,3)
del t

#tuple immutable

In [ ]:
20. slice atuple

In [137]:
t = (1,2,3,4,5,6,7,8)
t[1:7:2]

(2, 4, 6)

In [ ]:
21.find the maximum value in a tuple

In [138]:
t = (1,2,3,4,22)
max(t)

22

In [ ]:
22.find the minimum value in a tuple

In [139]:
t = (1,2,3,4,22)
min(t)

1

In [ ]:
23.convert string to tuple of characteristics

In [150]:
s = "vamshi"
l = []
for i in s:
    l.append(i)
print(tuple(l))

('v', 'a', 'm', 's', 'h', 'i')

In [149]:
s = "vamshi,krishna"
tuple(s.split(','))

('vamshi', 'krishna')

In [ ]:
24. convert tuple of characters to string

In [153]:
t = ("vamshi","krishna")
s = ' '.join(t)
s

'vamshi krishna'

In [ ]:
25.create a tuple from multiple datatypes

In [158]:
a = 1
b = "vamshi"
c = 1.0
l = []
l.append(a)
l.append(b)
l.append(c)
l
tuple(l)

(1, 'vamshi', 1.0)

In [160]:
t = (1,"vamshi",1.0,[1,2],True)
t

(1, 'vamshi', 1.0, [1, 2], True)

In [ ]:
26.check if two tuples are identical

In [161]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("The tuples are identical.")
else:
    print("The tuples are not identical.")

The tuples are identical.

In [169]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

for x,y in zip(tuple1,tuple2):
    if x!=y:
        print("not identical")
        break
else:
    print( "identical")

identical

In [ ]:
27. sort the elements of a tuple

In [7]:
t = (1,3,2,5,4)
tuple(sorted(t))

(1, 2, 3, 4, 5)

In [ ]:
28. convert tuple of integers to tuple of strings

In [12]:
t = (1,2,3,4)

l = []

for i in t:
    i = str (i)
    l.append(i)
print(tuple(l))

('1', '2', '3', '4')

In [ ]:
29. convert tuple of strings to tuple of integers

In [13]:
t = ('1','2','3','4')

l = []

for i in t:
    i = int (i)
    l.append(i)
print(tuple(l))

(1, 2, 3, 4)

In [ ]:
30. merge two tuples

In [14]:
t1 = (1,2,3)
t2 = (4,5)
t1 + t2

(1, 2, 3, 4, 5)

In [ ]:
31. flatten a nested tuple.

In [18]:
t1 = ((1,2,3),('1','2','3'))

l = []
for i in t1:
    for j in i:
        l.append(j)
print(tuple(l))

(1, 2, 3, '1', '2', '3')

In [ ]:
32. create a tuple of first 5 prime numbers

In [47]:
def prime(n):
    l = []
    for i in range(2, n + 1):
        is_prime = True
        for j in l:
            if j * j > i:
                break
            if i % j == 0:
                is_prime = False
                break
        if is_prime:
            l.append(i)
    print(tuple(l))

In [48]:
prime(5)

(2, 3, 5)

In [ ]:
33.check if a tuple is a palindrome

In [61]:
def palindrome(tuple1):
    return tuple1 == tuple1[::-1]


tuple1 = (1, 2, 3, 2, 1)
result = palindrome(tuple1)

if result:
    print("The tuple is a palindrome.")
else:
    print("The tuple is not a palindrome.")

The tuple is a palindrome.

In [ ]:
34. create a tuple of squares of numbers from 1 to 5.

In [63]:
l = []
for i in range(1,6):
    i = i*i
    l.append(i)
print(tuple(l))

(1, 4, 9, 16, 25)

In [ ]:
35.Filter out all even numbers from a tuple

In [64]:
t = (1,2,3,4,5,5,6,6,67)
l = []
for i in t:
    if i%2 == 0:
        l.append(i)
print(tuple(l))

(2, 4, 6, 6)

In [ ]:
36. multiply all elemnts in a tuple by 2

In [66]:
t = (1,2,3,4,5,6)
l = []

for i in t:
    i = 2*i
    l.append(i)
print(tuple(l))

(2, 4, 6, 8, 10, 12)

In [ ]:
37.create a tuple of random numbers

In [68]:
import random

random_numbers = tuple(random.randint(1, 100) for i in range(5))

print(random_numbers)

(66, 17, 67, 28, 49)

In [ ]:
38. check if a tuple is sorted

In [70]:
t = (1,2,3,4)
if tuple(sorted(t))==t:
    print("yes")

yes

In [ ]:
39.rotate the tuple to the left by 'n' positions

In [73]:
def rotate_list(a,n):
    rotated_list=a[n:]+a[:n]
    print(rotated_list)
t = (1,2,3)
rotate_list(t,2)

(3, 1, 2)

In [ ]:
40.rotate the tuple to the right by 'n' positions

In [74]:
def rotate_list(a,n):
    rotated_list=a[-n:]+a[:-n]
    print(rotated_list)
t = (1,2,3)
rotate_list(t,2)

(2, 3, 1)

In [ ]:
41.create a tuple of the first 5 fibonacci numbers

In [18]:
def feb(n):
    fibonacci = [0,1]
   

    for i in range(2,n):
        next_fibonacci = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_fibonacci)
    return fibonacci

In [20]:
feb(5)

[0, 1, 1, 2, 3]

In [ ]:
42. create a tuple from user input

In [22]:
user_input_str = input("Enter values separated by spaces: ")

user_input_tuple = tuple(map(int, user_input_str.split()))

print("Tuple from user input:", user_input_tuple)

Enter values separated by spaces:  1 4 6 9

Tuple from user input: (1, 4, 6, 9)

In [ ]:
43. swap two elements in a tuple

In [27]:
t = (1, 2, 3)
l = list(t)
l[0], l[1] = l[1], l[0]
tuple(l)

(2, 1, 3)

In [ ]:
44.reverse the elements of a tuple

In [40]:
t = (1,2,3,4)
l = list(t)
tuple(l[::-1])

(4, 3, 2, 1)

In [ ]:
45.create a tuple of the first 'n' powers of 2

In [48]:
def power(n): 
    l = []
    for i in range (0,n):
        
        power = 2**i
        l.append(power)
    return tuple(l)
power(5)

(1, 2, 4, 8, 16)

In [ ]:
46. find the longest string in a tuple of strings

In [68]:
def find_longest(t):
    longest_string = ""
    for i in t:
         if len(i) > len(longest_string):
                longest_string = i
    return longest_string
find_longest(("vamshi","krishna","priya","hello","pwskills"))

'pwskills'

In [ ]:
47.find the shortest string in a tuple of strings

In [80]:
def find_shortest(t):
    shortest_string = t[0]
    for i in t:
         if len(i) < len(shortest_string):
                shortest_string = i
    return shortest_string
find_shortest(("vamshi","krishna","priya","pwskills"))

'priya'

In [ ]:
48.create a tuple of the first n triangle numbers

In [81]:
def generate_triangle_numbers(n):
    triangle_numbers = ()
    for i in range(1, n + 1):
        triangle_number = (i * (i + 1)) // 2
        triangle_numbers += (triangle_number,)
    return triangle_numbers

first_5_triangle_numbers = generate_triangle_numbers(5)
print(first_5_triangle_numbers)

(1, 3, 6, 10, 15)

In [ ]:
49.check if a tuple contains another tuple as a subsequence

In [12]:
t = (1,2,3,5,6)
t2 = (2,5,6)
l = []
for i in t:
    if i in t2:
        l.append(i)
if l == list(t2):
    print("t contain t2 as subsequence")
else:
    print("t does not contain t2 as a subsequence")

t contain t2 as subsequence

In [ ]:
50.create a tuple of alternating 1s ans 0s of length n

In [17]:
def fun(n):
    l = []
    for i in range(n):
        if i%2 == 0:
            l.append(1)
        else:
            l.append(0)
    return tuple(l)
fun(6)

(1, 0, 1, 0, 1, 0)

In [ ]:
*******************SET************************************

In [ ]:
1.create a set with integers from 1 to 5.

In [2]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
2. add an element to a set

In [6]:
my_set = {1,2,3,4,5}
my_set.add("vamshi")
my_set

{1, 2, 3, 4, 5, 'vamshi'}

In [ ]:
3.remove an element from a set

In [8]:
my_set = {1,2,3,4,5}
my_set.remove(2)
my_set

{1, 3, 4, 5}

In [ ]:
4.check if element exist in a set

In [20]:
my_set = {1,2,3,4,5}
element = 4
if element in my_set:
    print("yes")
else:
    print("no")

yes

In [ ]:
5.find the length of a set without using the len() function

In [27]:
my_set = {1,2,3,4,5}
count = 0
for i in my_set:
    count = count+1
print(count)

5

In [ ]:
6. clear all elemnts from a set

In [29]:
my_set = {1,2,3,4,5}
my_set.clear()
my_set

set()

In [ ]:
7. create a aset of even numbers from 1 to 10

In [35]:
even_numbers = {x for x in range(1, 11) if x % 2 == 0}
even_numbers

{2, 4, 6, 8, 10}

In [38]:
even_numbers = set()

for num in range(1, 11):
    if num % 2 == 0:
        even_numbers.add(num)
even_numbers

{2, 4, 6, 8, 10}

In [ ]:
8.create a set of odd numbers from 1 to 11

In [40]:
odd = set()

for i in range(11):
    if i%2!=0:
        odd.add(i)
print(odd)

{1, 3, 5, 7, 9}

In [ ]:
9. find the union of 2 sets

In [41]:
set1 = {1,2,3,4,5,6}
set2 = {3,5,6,8,9}

set1.union(set2)

{1, 2, 3, 4, 5, 6, 8, 9}

In [ ]:
10.find the intersection of two sets

In [42]:
set1 = {1,2,3,4,5,6}
set2 = {3,5,6,8,9}

set1.intersection(set2)

{3, 5, 6}

In [ ]:
11.find the difference between two sets

In [43]:
set1 = {1,2,3,4,5,6}
set2 = {3,5,6,8,9}

set1.difference(set2)

{1, 2, 4}

In [ ]:
12. check if a set is subset of another set

In [45]:
set1 = {1,2,3,4,5,6}
set2 = {3,5,6,8,9}

set1.issubset(set2)

False

In [ ]:
13. check if a set is superset of another set

In [46]:
set1 = {1,2,3,4,5,6}
set2 = {3,5,6,8,9}

set1.issuperset(set2)

False

In [ ]:
14.create set from a list

In [48]:
l = [1,2,3,4]
s = set(l)
s

{1, 2, 3, 4}

In [56]:
l = [1,2,3]
s = {i for i in l}
s

{1, 2, 3}

In [ ]:
15.convert a set to a list

In [57]:
s = {1,2,3}
l = list(s)
l

[1, 2, 3]

In [ ]:
16. remove a random elemnt from a set

In [60]:
s = {1,2,3}
s.pop()
s

{2, 3}

In [ ]:
17. pop an element from a set

In [63]:
s = {1,2}
s.pop()
s

{2}

In [ ]:
18. check if two sets are no elements in common

In [66]:
s1 = {1,2,3,4}
s2 = {45,56,78}
if s1.isdisjoint(s2):
    print("yes")
else:
    print("no")

yes

In [ ]:
19. find the symmetric difference between two sets

In [68]:
s1 = {1,2,3,4}
s2 = {1,2,45,56,78}
s1.symmetric_difference(s2)

{3, 4, 45, 56, 78}

In [ ]:
20. update a set with elemnts from another set

In [70]:
s1 = {1,2,3,4}
s2 = {1,2,45,56,78}
s1.update(s2)
s1

{1, 2, 3, 4, 45, 56, 78}

In [ ]:
21. create a set of the first 5 prime numbers

In [72]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

first_five_primes = set()

for number in range(2, 20): 
    if is_prime(number):
        first_five_primes.add(number)

    if len(first_five_primes) == 5:
        break

print(first_five_primes)

{2, 3, 5, 7, 11}

In [ ]:
22.check if two sets are identical

In [80]:
s1 = {1,2,3,4}
s2 = {1,2,3,4}
if s1.difference(s2) == set():
    print("identical")
else:
    print("not identical")

identical

In [ ]:
23. CREATE A FROZEN SET

In [83]:
frozen_set = frozenset([1, 2, 3])
frozen_set

frozenset({1, 2, 3})

In [ ]:
24.check if a set is disjoint with another set

In [84]:
s1 = {1,2,3,4}
s2 = {45,56,78}
if s1.isdisjoint(s2):
    print("yes")
else:
    print("no")

yes

In [ ]:
25. create a set of squares of numbers from 1 to 5

In [89]:
s = set()

for i in range(1,6):
    s.add(i**2)
s

{1, 4, 9, 16, 25}

In [ ]:
26. filter out all even numbers from set. ghive me hints not code

In [95]:
s = {1,2,3,4,5,6,7}
s1 = set()
for i in s:
    if i %2 !=0:
        s1.add(i)
s1

{1, 3, 5, 7}

In [97]:
def is_odd(num):
    return num % 2 != 0

s = {1, 2, 3, 4, 5, 6, 7}

filtered_set = set(filter(is_odd, s))

print(filtered_set)

{1, 3, 5, 7}

In [ ]:
27.MULTIPLY ALL ELEMNTS IN A SET BY 2

In [105]:
s = {1, 2, 3, 4, 5, 6, 7}
s1 = set()
for i in s:
    s1.add(2*i)
s1

{2, 4, 6, 8, 10, 12, 14}

In [107]:
s2 = {num*2 for num in s}
s2

{2, 4, 6, 8, 10, 12, 14}

In [ ]:
28.create set of random numbers

In [108]:
import random

random_set = set()
for _ in range(5):
    random_set.add(random.randint(1, 10))
print(random_set)

{9, 10, 4}

In [ ]:
29.check if a set is empty

In [117]:
s = {1}
if s == set():
    print("yes")
else:
    print("no")

no

In [ ]:
30.create a nested set (hint:use frozen set)

In [118]:
nested_set1 = frozenset({1, 2, 3})
nested_set2 = frozenset({'a', 'b', 'c'})
nested_set3 = frozenset({True, False})

main_nested_set = {nested_set1, nested_set2, nested_set3}

print(main_nested_set)

{frozenset({1, 2, 3}), frozenset({False, True}), frozenset({'c', 'b', 'a'})}

In [ ]:
31.remove an element from a set using discord method

In [122]:
s = {"vamshi",1,2,3,1.2}
s.discard(1)
s

{1.2, 2, 3, 'vamshi'}

In [ ]:
32.compare two sets

In [124]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}


if set1 == set2:
    print("Sets are equal")
else:
    print("Sets are not equal")

if set1.issubset(set2):
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")
if set2.issuperset(set1):
    print("set2 is a superset of set1")
else:
    print("set2 is not a superset of set1")

common_elements = set1.intersection(set2)
print("Common elements:", common_elements)

unique_elements = set1.symmetric_difference(set2)
print("Unique elements:", unique_elements)

Sets are not equal
set1 is not a subset of set2
set2 is not a superset of set1
Common elements: {3, 4, 5}
Unique elements: {1, 2, 6, 7}

In [ ]:
33.create a set from a string

In [126]:
s = "vamshi krishna 123"
set(s.split())

{'123', 'krishna', 'vamshi'}

In [ ]:
34.convert set of strings to SET OF integers

In [127]:
s = {"1","2","3"}
s1 = set()

for i in s:
    i = int(i)
    s1.add(i)
s1

{1, 2, 3}

In [ ]:
35.convert set of INTEGERS to SET OF strings

In [129]:
s = {1,2,3}
s1 = set()

for i in s:
    i = str(i)
    s1.add(i)
s1

{'1', '2', '3'}

In [ ]:
36.create a set from a tuple

In [130]:
t = (1,2,3)
set(t)

{1, 2, 3}

In [132]:
s = set()
s.update(t)
s

{1, 2, 3}

In [ ]:
37.convert set to a tuple

In [133]:
s = {1,2,3}
tuple(s)

(1, 2, 3)

In [ ]:
38.find the maximum value in set

In [134]:
s = {1,2,3,4}
max_value = 0
for i in s:
    if i >max_value:
        max_value = i
max_value

4

In [ ]:
39.find the minimum value in set

In [144]:
s = {1, 2, 3, 4}
min_value = float('inf')  
for i in s:
    if i < min_value:
        min_value = i

print(min_value)
min(s)

1

1

In [ ]:
40.crteate a set from user input

In [153]:
s = input()
s1 = set([s])
s1

 1

{'1'}

In [ ]:
41.check if the intersection of two sets are empty

In [156]:
s1 = {1,2,3}
s2 = {5,6,7}
if s1.intersection(s2) == set():
    print("empty")
else:
    print("not")

empty

In [ ]:
42.create a set of first 5 fibonacci numbers

In [1]:
a,b = 0,1
fib = {a,b}

for i in range(3):
  
    a,b = b, a+b
    fib.add(b)
print(fib)

{0, 1, 2, 3}

In [3]:
def feb(n):
    fibonacci = [0,1]
   

    for i in range(2,n):
        next_fibonacci = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_fibonacci)
    return set(fibonacci)

In [4]:
feb(5)

{0, 1, 2, 3}

43.remove duplicates from a list using sets

In [10]:
l = [1,1,2,3]
s = set(l)
l1 = list(s)
l1

[1, 2, 3]

In [ ]:
44.check if two sets have the same elements , regardless of their count.

In [16]:
s = {1,2,3,4}
s1 = {4,2,1,3}
if s.difference(s1) == set():
    print("two sets have same elements")
else:
    print("no")

two sets have same elements

In [ ]:
45.create A SET of first n powers of two

In [20]:
s = set()

for i in range(1,10):
    i = 2**i
    s.add(i)
s

{2, 4, 8, 16, 32, 64, 128, 256, 512}

In [ ]:
46. find common elemnts betweeen list and set

In [22]:
l = [1,2,3,4,5,77,85,89]
s = {1,3,2,8,9,0,15,67}

for i in l:
    if i in s:
        print(i)

1
2
3

In [ ]:
47.create  a set of first 'n' triangular numbers

In [44]:
def generate_triangle_numbers(n):
    triangle_numbers = ()
    for i in range(1, n + 1):
        triangle_number = (i * (i + 1)) // 2
        triangle_numbers += (triangle_number,)
    return triangle_numbers

first_5_triangle_numbers = generate_triangle_numbers(5)
print(set(first_5_triangle_numbers))

{1, 3, 6, 10, 15}

In [ ]:
48.check if a set contains another set as subset

In [42]:
s = {1,2,3,4,5}
s1 = {1,2}
s2 = set()
for i in s:
    if i in s1:
        s2.add(i)
if s2 == s1:
    print("s contain s1 as subsequence")
else:
    print("s does not contain s1 as a subsequence")

s contain s1 as subsequence

In [ ]:
49.create a set of alternating 1s and 0s

In [36]:
def f(n):
    s = set()
    for i in range(n):
        if i%2 ==0:
            s.add(1)
        else:
            s.add(0)
    return s
f(5)

{0, 1}

In [ ]:
50.merge multiple sets into 1

In [26]:
s1 = {1}
s2 = {1,2,3}
s3 = {3,4,5}
s1.update(s2,s3)
s1

{1, 2, 3, 4, 5}